{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Our super table</h1>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>item 1</th>
                <th>item 2</th>
                <th>item 1 + item 2</th>
                <th>Paire / impaire</th>
            </tr>
            </thead>
            <tbody>

            {% for row in result %}
                <tr>
                    {% for data in row %}
                        <td>{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />

{% endblock %}
